# Python
venv/
__pycache__/
*.pyc
*.db

# Uploaded files
backend/uploads/

# Environment variables
.env

# Node (frontend, pour plus tard)
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
